<div class="footer">
<body align=left> © 2017 Created by Jacqueline Basulto. </body>
</div>

<style>
.footer {
  position: bottom;
  right: 0;
  bottom: 0;
  left: 0;
  padding: 1rem;
  background-color: #FFB6C1;
  text-align: center;
}
</style>