<html>
<style>
ul {
    list-style-type: none;
    margin: 0 5%;
    padding: 0;
}

li {
    display: inline;
}

nav {
  background-color: #FFB6C1;
}

</style>
</head>
<body align=center>

<nav class="navbar navbar-default">
  <div class="container-fluid">
    <!-- Brand and toggle get grouped for better mobile display -->
    <div class="navbar-header">
      <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1" aria-expanded="false">
        <span class="sr-only">Toggle navigation</span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
      </button>
<a class="navbar-brand" href="http://localhost:3000/home/index">Home</a>
    </div>

    <!-- Collect the nav links, forms, and other content for toggling -->
    <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
      <ul class="nav navbar-nav">
        <li class="active"><a href="http://localhost:3000/home/about">About Me <span class="sr-only">(current)</span></a></li>
        <li class="dropdown">
          <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">Media<span class="caret"></span></a>
          <ul class="dropdown-menu">
            <li><a href="http://localhost:3000/home/photos">Photos</a></li>
            <li role="separator" class="divider"></li>
            <li><a href="http://localhost:3000/home/videos">Videos</a></li>
            <li role="separator" class="divider"></li>
          </ul>
        </li>
      </ul>
      <ul class="nav navbar-nav navbar-right">
      <li><a href="http://localhost:3000/home/blog">Blog</a></li>
        <li><a href="http://localhost:3000/home/contact">Contact</a></li>
        <li class="dropdown">
          <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">Social Media <span class="caret"></span></a>
          <ul class="dropdown-menu">
            <li><a href="https://www.facebook.com/jacqueline.basulto">Facebook</a></li>
            <li role="separator" class="divider"></li>
            <li><a href="https://www.instagram.com/jacqwelline/">Instagram</a></li>
            <li role="separator" class="divider"></li>
            <li><a href="https://twitter.com/jackieo_nyc">Twitter</a></li>
            <li role="separator" class="divider"></li>
            <li><a href="https://www.youtube.com/channel/UCc-HEN23wK4gtsQjXZD_2kw">YouTube</a></li>
          </ul>
        </li>
      </ul>
    </div><!-- /.navbar-collapse -->
  </div><!-- /.container-fluid -->
</nav>
</html>