<%= render 'home/header' %>


<center>
<div>
<img src = "https://s28.postimg.org/910h5smvh/Screen_Shot_2017_01_28_at_3_02_16_PM.png" >
<br><br>
<img src = "https://s24.postimg.org/6l8b2g5id/aboutme.jpg" >
</div>
</center>
<body>  <div>
<img src = "https://s29.postimg.org/bq62ipcaf/Screen_Shot_2017_01_28_at_3_04_59_PM.png"><br>
<img src = "https://s29.postimg.org/anuqug4jr/Screen_Shot_2017_01_28_at_2_54_51_PM.png">
 <br>
</div>
<br>

<center><img src = https://s29.postimg.org/8bqx82nrr/Screen_Shot_2017_01_28_at_3_03_25_PM.png> </center>
<center> <br>
<img src = "https://s29.postimg.org/3widu178n/child.jpg" >
</center>
<div>
<body> <img src = "https://s30.postimg.org/nvoxl7xip/Screen_Shot_2017_01_28_at_2_57_17_PM.png"></body></div>

<center>

<img src = "https://s24.postimg.org/cobx7a70l/Screen_Shot_2017_01_28_at_3_04_44_PM.png"> <br>
<img src = "https://s30.postimg.org/ibdvqv9xd/cabaret.jpg"> <br>
<img src = "https://s28.postimg.org/uhbprb33x/Screen_Shot_2017_01_28_at_6_44_55_PM.png">

<br>
<img src = "https://s29.postimg.org/aeuew0imf/Screen_Shot_2017_01_28_at_3_04_51_PM.png">
<br>
<img src = "https://s23.postimg.org/ayqk2h7jf/IMG_2975_1.jpg"><br>
<img src = "https://s29.postimg.org/s41kzmzpz/Screen_Shot_2017_01_28_at_6_54_10_PM.png">
<br>
<img src = "https://s30.postimg.org/kto82v8rl/Screen_Shot_2017_01_28_at_3_08_14_PM.png">
<br>
<img src = "https://s27.postimg.org/xbyj5pdtv/sunglasses.jpg"><br><br>
<img src = "https://s23.postimg.org/va4keuvm3/ella.jpg"><br><br>
<img src = "https://s24.postimg.org/l07cbm0rp/julianne.jpg"><br><br>
<img src = "https://s30.postimg.org/bh0bfgn4x/gaga.jpg"><br><br>
</center>


<%= render 'home/footer' %>