<%= render 'home/header' %> <center>
<img src = "https://s23.postimg.org/pg38131rv/Screen_Shot_2017_01_28_at_8_22_29_PM.png"><br><br></center>
<img src = "https://s23.postimg.org/c2soozr5n/1485669982_aiga_mail.png"> &nbsp; &nbsp;  
<text>E-mail Me at: <a href= "jacqueline.basulto@gmail.com">jacqueline.basulto@gmail.com</a></text>
<br>
<br>
<br>
<br>
<img src = "https://s23.postimg.org/inhua1q8r/1485670326_aiga_telephone.png"> &nbsp; &nbsp; 
<text>Call or Text Me at: <a href= "16464003071"> (646)400-3071</a></text>
<br>
<br>
<br>
<br>

<br>
<br>
<%= render 'home/footer' %>
