
<%= render 'home/header' %>

<!DOCTYPE html>
<html>
<head>
<center>
<div>
<img src = "https://s30.postimg.org/dqu4z3z5t/Screen_Shot_2017_01_28_at_2_59_45_PM.png">
</div>
</center> 
<%= render 'home/slideshow' %>
</head>
<div>
<center>
<br><h1>Click to download</h1><br>
<a class="btn btn-default btn-lg" href="/documents/Performance Resume-Jacqueline Basulto.pdf" download role="button" width "150px" length "150px">Resume</a>
<a class="btn btn-default btn-lg" href="/documents/basulto_headshot.pdf" download role="button" width "150px" length "150px">Headshot</a></center><br></div>
<center><div class="panel panel-default">
  <div class="panel-heading">
    <h3 class="panel-title">News!</h3>
  </div>
</div> </center>

<link rel"stylesheet" href="/assets/stylesheets/index.css">
<br>
<br>
<br>
<%= render 'home/footer' %>
